{% extends 'base.html' %}
{% block main %}
<div class="row mt-4">
    {% for n in news %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{{ n.Photo }}" alt="..."></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ n.Date }}</div>
                                    <h2 class="card-title text-truncate h4">{{ n.Title }}</h2>
                                    <p class="card-text text-truncate">{{ n.Text}}</p>
                                    <a class="btn btn-primary" href="#!">Подробнее →</a>
                                </div>
                            </div>
                        </div>
    {% endfor %}
</div>
{% endblock %}